{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index3</title>
  <link rel="stylesheet" href="{% static 'mangalib/css/main.css' %}">
</head>
<body>
  <center>
  <h1 style="color: red">{{ titre }}</h1>
</center>

<legend>Liste des mangas disponibles : </legend>
<ul>
  {% for livre in Livres %}
    <li>
      <a href="{% url 'mangalib:show' livre.id %}">
        {{ livre.titre }} ({{ livre.auteur.prenom }} {{ livre.auteur.nom }})
      </a>
    </li>
  {% endfor %}
</ul>

<p>
  <a href="{% url 'mangalib:add'  %}">Ajouter manga</a> |
  <a href="{% url 'mangalib:edit'  %}">Modifier manga</a> |
  <a href="{% url 'mangalib:supp'  %}">Supprimer manga</a> |
</p>
</body>
</html>
