{%  load static %}
{% comment %} {%  load customtags %} {% endcomment %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MangaLib</title>

    <link rel="stylesheet" href="{% static 'mangalib/css/main.css' %}">
    {% comment %} <script src="{% static 'js/script.js' %}"></script> {% endcomment %}
    <link rel="icon" type="image/png" href="{% static 'img/Python-Django.png' %}">
</head>
<body>
    {% comment %} {% include './Balises&Filtre1.html' %} {% endcomment %}
    {% include './index3.html' %}
    {% include './show.html' %}
    {% comment %} {% include '../../templatetags/customtags.py' %}; {% endcomment %}
</body>
</html>
