{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index3</title>
  <link rel="stylesheet" href="{% static 'mangalib/css/main.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
    <p>
      Connecter en tant que : {{ user.username }}  | 
      <a href="{% url "authentification:logout" %}">Se déconnecter</a>
    </p>
  {% else %}
    <p>
      Vous avez un compte ? <a href="{% url 'authentification:login' %}" class="text-red-600 hover:underline">Se connecter</a> / <a href="{% url 'authentification:register' %}" class="text-red-600 hover:underline">Créer un compte</a>
    </p>
  {% endif %}
  <h1 style="color: red">{{ titre }}</h1>

<legend>Liste des mangas disponibles : </legend>
{% if user.is_authenticated %}
  <p><a href="{% url 'mangalib:add'  %}">Ajouter manga ➕</a></p>
{% endif %} 
<table style="width: 100%; height: auto">
  <tr style="background:red;">
    <th>Nom</th>
    <th>Auteur</th>
    <th>Qts</th>
    {% if user.is_authenticated %}
      <th colspan="2">Actions</th>
    {% endif %}
  </tr>
  {% for livre in Livres %}
    <tr style="background:white;" >
      <td>
        <a href="{% url 'mangalib:show' livre.id %}">{{ livre.titre }}</a>
      </td>
      <td style="color:black;">{{ livre.auteur.prenom }} {{ livre.auteur.nom }}</td>
      <td style="color:black;">{{ livre.quantite }}</td>
      {% if user.is_authenticated %}
        <td><a href="{% url 'mangalib:edit' livre.id %}">🖋</a></td>
        <td><a href="{% url 'mangalib:supp'  livre.id %}">❌</a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
</body>
</html>
